body{
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    padding: 50px 100px;
    background-color:#f1d4d4;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    margin: 0 200px 200px 200px;
}

.title{
text-align: center;
}
.description{
    text-align: center;
}
#name,#email,#number{ 
    padding: 10px;
    width: 40vw;
    border: none;
}

.name,.email,.age{
    margin-bottom: 20px;
}
.country{

}
.radio-button{
display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
.checkbox{
display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;

}
.textarea{
min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.submit-button{
display: block;
  width: 100%;
  padding: 0.75rem;
  background:yellow;
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}
